.hero-wrapper {
    position: relative;
    font-family: 'Inter', sans-serif;
    padding: 80px 0px 0px 200px;
}

.hero-wrapper > h1 {
    color: #e9f2fa;
    font-size: 8rem;
    position: relative;
    width: fit-content;
    font-weight: bolder;
    letter-spacing: -0.4rem;
    padding-left: 30px;
}

.hero-wrapper > h5, .hero-wrapper > h6 {
    /* color: white; */
    color: #ccd6f6;
    font-weight: normal;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
}

.hero-wrapper > h6 {
    margin-top: 30px;
    font-size: 1rem;
    max-width: 850px;
}

.hero-wrapper > h1 > span {
    font-weight: normal;
    font-size: 8rem;
    position: relative;
    -webkit-text-stroke-width: 3px;
    /* -webkit-text-stroke-color: white; */
}

.hero-wrapper > h1 > span::after {
    position: absolute;
    color: transparent;
    content: attr(data-string);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--accent);
    z-index: -1;
    left: 0px;
    top: 0px;
}

.delay-one::after {
    animation: title-effect-after 5s infinite; 
    animation-delay: 6200ms;
}
.delay-two::after {
    animation: title-effect-after 5s infinite; 
    animation-delay: 6300ms;
}
.delay-three::after {
    animation: title-effect-after 5s infinite; 
    animation-delay: 6400ms;
}
.delay-four::after {
    animation: title-effect-after 5s infinite; 
    animation-delay: 6500ms;
}

@keyframes title-effect-after {
    0% {
        left: 0px;
        top: 0px;
    } 10% {
        left: 10px;
        top: 10px;
    } 20% {
        left: 0px;
        top: 0px;
    } 100% {
        left: 0px;
        top: 0px;
    }
}

.hero-accent {
    color: var(--accent);
}

.hero-bvt {
    color: var(--accent);
    text-decoration: underline 2px var(--secondary-text);
}

.hero-button {
    background-color: transparent;
    border: solid 1px var(--accent);
    border-radius: 9px;
    color: var(--accent);
    font-family: 'Inter', sans-serif;
    margin-top: 50px;
    padding: 10px 10px;
    font-size: 1.3rem;
    transition: background-color 100ms linear, color 100ms linear;
}

.hero-button:hover {
    color: var(--bg-color);
    background-color: var(--accent);
    transition: background-color 200ms linear, color 200ms linear;
}


